 <div class="container">
   <div class='row mt-3'>
    <div class="col-8 mx-auto">
     <h2 class="text-info">＜新規投稿＞</h2>
      <%= form_with model:@post,local:true do |f| %>
       <div class="form-group mt-4">
        <%= f.label :"タイトル（２〜２０文字）" %>
        <%= f.text_field :title, placeholder: "タイトルを入力", class: 'form-control post_title' %>
       </div>
       <div class="form-group mt-3">
        <%= f.label :"内容（２００文字まで）" %>
        <%= f.text_area :body, placeholder: "内容を入力", size: "40x10", class: 'form-control post_body' %>
       </div>
       <div class="form-group mt-3">
        <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
        <%= f.text_field :name, placeholder: "空,海,山", class: 'form-control post_body' %>
       </div>
       <!--投稿本文に関する画像をアップロードするフォーム-->
       <div class="form-group mt-3">
        <%= f.label :"画像" %>
        <%= f.file_field :images, multiple: true %>
       </div>
       <div class="text-center mt-3">
        <%= f.submit "投稿", class: 'btn btn-success' %>
       </div>
      <% end %>
    </div>
  </div>