<div class="container">
   <h2 class="mt-4 text-info">
     ＜タグが<%=@tag.name%>の投稿一覧(全<%= @tag.posts.count %>件)＞
   </h2>
   <!--タグリスト-->
  <div class="row mt-4">
    <div class="col-2">
       <h4>最新タグ：</h4>
    </div>
    <div class="col-8">
     <% @tag_list.each do |list|%>
       <%=link_to list.name,search_tag_path(tag_id: list.id) %>
       <%="(#{list.posts.count})" %>
     <% end %>
    </div>
  </div>
  <table class="table table-hover table-inverse text-center mt-4 mb-5">
    <thead>
     <tr>
      <th class="cell1"></th>
      <th class="cell2">投稿者</th>
      <th class="cell3">タイトル</th>
      <th class="cell4">本文</th>
      <th class="cell5">コメント数</th>
      <th class="cell6">いいね数</th>
     </tr>
    </thead>
    <tbody>
     <% @posts.each do |post| %>
      <tr>
       <td class="cell1"><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></td>
       <td class="cell2"><%= post.user.nickname %></td>
       <td class="cell3">
        <%=link_to post_path(post.id) do %>
         <%= post.title.truncate(10) %> <!--タイトル表示される文字数は10文字まで-->
        <% end %>
       </td>
       <td class="cell4"><%= post.body.truncate(20) %></td>
       <td class="cell5"><%= post.post_comments.count %></td>
       <td class="cell6"><%= post.favorites.count %></td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>

  <!--<div class="pagination pagination-sm justify-content-center">
    <%#= paginate @posts %>
  </div>-->