<div class="container">
  <div class="row text-right my-4">
   <div class="col-sm-2">
    <h2>投稿詳細</h2>
   </div>
    <div class="col-sm-3">
     <% if current_user.id == @user.id %>
      <div class="button_post">
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success" %>
        <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      </div>
     <% end %>
    </div>
  </div>
  <table class="col-6 table table-bordered mt-3 ml-3 text-center">
    <tr>
      <td class="col-3 table-active border-dark">タイトル</td>
      <td class="border-dark"><%= @post.title %></td>
    </tr>
    <tr>
      <td class="col-3 table-active border-dark">本文</td>
      <td class="border-dark"><%= @post.body %></td>
    </tr>
  </table>
       <div class="ml-3">
        <h5>
          コメント数: <%= @post.post_comments.count %>
          いいね数：
        </h5>
       </div>

    <div class="ml-3 mt-5">
     <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力", class: "w-100" %>
      <%= f.submit 'コメントする' %>
     <% end %>
    </div>

    <div class="ml-3 mt-5">
     <table class="col-6 table table-bordered mt-3 ml-3 text-center">

      <thead>
       <tr>
      　<th>ニックネーム</th>
        <th>コメント内容</th>
        <th></th>
       </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |post_comment| %>
        <tr>
          <td><%= post_comment.user.nickname %></td>
          <td><%= post_comment.comment %></td>
          <% if post_comment.user == current_user %>
           <td><%= link_to "Destroy", post_comment_path(post_comment.id), method: :delete, class: "btn btn-danger pull-right", remote: true %></td>
          <% end %>
         <% end %>
        </tr>
      </tbody>
     </table>
    </div>

</div>