<div class="container">
  <div class="row mt-4">
    <h2 class="text-info">＜管理者ログイン＞</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mt-3 ml-5">
      <div class="col-2 ml-5"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100" %></div>
    </div>
    <div class="row mt-2 ml-5">
      <div class="col-2 ml-5"><%= f.label "パスワード" %></div>
      <div class="col-3"><%= f.password_field :password, autocomplete: "current-password", class: "w-100" %></div>
    </div>
    <div class="row mt-2 ml-5">
      <div class="col-2 ml-5"></div>
      <div class="col-2 mt-3"><%= f.submit "ログイン", class: "btn btn-info btn-block" %></div>
    </div>
  <% end %>

</div>