 <div class="container">
    <div class="row mt-5">
      <div class="col-md-2">
       <table class="table table-bordered" style="width: 12rem;">
          <thead>
            <tr>
              <td>タグ一覧</td>
            </tr>
          </thead>
          <tbody>
            <!--タグリスト-->
            <% @tag_list.each do |list|%>
            <tr>
             <td>
               <%= link_to list.name,search_tag_path(tag_id: list.id) %>
               <%= "(#{list.posts.count})" %>
             </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div  class='col-9 offset-1'>
        <p class="text-center mr-5">
          <strong>ようこそ、Likeshareへ！</strong><br>
          このサイトでは、自分の好きを共有できる<br>
          コミュニティサイトとなっております。<br>
          自分の趣味など好きなことを投稿して<br>
          新しいお友達を探しましょう！
        </p>
      　<% if user_signed_in? %>
         <div class="row mt-5">
          <div class="col-5"><h4><strong>新規投稿はこちらから→→</strong></h4></div>
          <%= link_to '新規投稿',new_post_path, class: "btn btn-info mb-3" %>
         </div>
        <% else %>
         <div class="row mt-5">
          <div class="col-7"><h4><strong>　会員の方はこちらから　→→</strong></h4></div>
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info mb-3" %>
         </div>
         <div class="row mt-3">
          <div class="col-7"><h4><strong>新規会員登録はこちらから→→</strong></h4></div>
          <%= link_to '新規会員登録',new_user_registration_path, class: "btn btn-success md-3" %>
         </div>
         <div class="row mt-4">
          <div class="col-7"><h4><strong>ゲストログインはこちらから→→</strong></h4></div>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-secondary mb-3", method: :post %>
         </div>
        <% end %>
        <div class="row mt-5">
       <h4><strong>新着投稿一覧</strong></h4>
        <div class="ml-5"><%= link_to '→もっと見る',posts_path, class: "btn btn-success md-3" %></div>
      </div>
       <table class='table table-hover table-inverse text-center mt-3'>
          <thead>
            <tr>
              <th>投稿日</th>
              <th>タイトル</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
            <% if @posts == nil %>
            <h3>投稿がまだありません。</h3>
            <% else %>
              <tr>
                <td><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                <td><%= link_to post.title,post, class: "post_#{post.id}" %></td>
                <td><%= post.body.truncate(20) %></td>
              </tr>
             <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
     </div>
    </div>
  </div>