<div class="container">
  <div class="row text-right my-4">
   <div class="col-sm-2">
    <h2>投稿詳細</h2>
   </div>
    <div class="col-sm-3">
      <div class="button_post">
        <%= link_to '編集', class: "btn btn-sm btn-success" %>
        <%= link_to '削除', admin_post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger"%>
      </div>
    </div>
  </div>
  <table class="col-6 table table-bordered mt-3 ml-3 text-center">
    <tr>
      <td class="col-3 table-active border-dark">タイトル</td>
      <td class="border-dark"><%= @post.title %></td>
    </tr>
    <tr>
      <td class="col-3 table-active border-dark">本文</td>
      <td class="border-dark"><%= @post.body %></td>
    </tr>
  </table>
     <div class="ml-3">
      <h5>
        コメント数: <%= @post.post_comments.count %>
        いいね数：<%= @post.favorites.count %>
      </h5>
     </div>
    <div class="ml-3 mt-5">
     <table class="col-6 table table-bordered mt-3 ml-3 text-center">
      <thead>
       <tr>
      　<th>ニックネーム</th>
        <th>コメント内容</th>
        <th></th>
       </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |post_comment| %>
        <tr>
          <td><%= post_comment.user.nickname %></td>
          <td><%= post_comment.comment %></td>
          <td><%= link_to "削除", admin_post_comment_path(post_comment.id), method: :delete, class: "btn btn-danger pull-right", remote: true %></td>
        </tr>
        <% end %>
      </tbody>
     </table>
    </div>

</div>