<div class="container">
  <div class="row mt-4">
    <h2 class="text-info">＜マイページ＞</h2>
  </div>

  <div class="row mt-3">
   <div class="col-4">
    <h4><strong class="mr-5">登録情報</strong>
     <% if @user.nickname != "guestuser" %>
      <% if @user.id == current_user.id %>
       <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %>
      <% end %>
     <% end %>
    </h4>
    <div class="center"></div><%= image_tag @user.get_image, size:'150x150' %>
     <table class="table table-bordered mt-3">
      <tr>
        <td class="table-active border-dark">表示名</td>
        <td class="border-dark"><%= @user.nickname %></td>
      </tr>
      <tr>
  	    <td class="table-active border-dark">自己紹介</td>
  	    <td class="border-dark"><%= simple_format(@user.introduction) %></td>
      </tr>
    </table>
      <p><%=link_to "いいねした記事",favorites_user_path(@user), class: "btn btn-info" %></p>

      <% if @user.id != current_user.id %>
        <!--既にroomがある場合（以前にDMのやりとりしている）-->
        <% if @isRoom == true %>
          <%= link_to "DMを送る", room_path(@roomId), class: "btn btn-dark" %>
        <% else %>
          <%= form_with model: @room, local: true do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
   </div>

  <div class="col-8">
    <h4><strong>投稿一覧</strong></h4>
    <table class='table table-hover table-inverse text-center mt-3'>
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>内容</th>
          <th>コメント</th>
          <th>いいね</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></td>
            <td><%= link_to post.title,post, class: "post_#{post.id}" %></td>
            <td><%= post.body.truncate(20) %></td>
            <td><%= post.post_comments.count %>件</td>
            <td><%= post.favorites.count %>件</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 </div>
</div>